body, html{
    height: 100%;
    margin: 0 auto;
}

#joker{
    background-image: url(/assets/img/cleo-topper.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.joker{
    height: 100vh;
  }
.joker a{
    color: white;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 0 3% -0 0  ;
    text-align: right;
    text-decoration: underline #e7bc0e;
    position: absolute;
    top: 1.5%;
    right: 1%;

}
.azal123{
    margin: 0.5% 0 0 90%;
    width: 30px;
}
.joker h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
  
    margin: 0% 0 0 15%;
    padding-top: 10%;

}
.joker p{
    width: 20%;
    margin: 2% 0 0 15%;
    color: #e7bc0e;
    font-family: 'Mr Dafoe', cursive;
    font-size: 30px;
}

/* jo hapipi firtig mit joker hahhahahahaahhaahhaahahhaahha */


#joker1{
    height: 100vh;
    
}
.joker1{
    color: #6bc1a3;
    
    font-family: 'Roboto', sans-serif;
    font-size: 40px; 
    margin: -10% 0 0 15%;
    padding-top: 20%;
    line-height: 185%;
}
.kindjoker{
    background-color: black;
    color: white;
   
}
/* joker1 joker1 joker1 joker1 hahahahahahahahahah */
#joker2{
    height: 100vh;
    
} 
.joker2{
    color: #e7bc0e;
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
    margin: 0% 0 0% 15%;
}
.kindjoker2{
    font-size: 300px;
}
.adam1{
    margin: 30% 0 0 20%;
    width: 300px;
}
/* joker2 joker2 joker 2 jok2 hahahahhahahhahhahah */
#joker3{
    height: 100vh;
   }
.joker3{
    color: #cb91b6;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    margin: 0% 0 0 20%;
}

.kindjoker3{
    font-size: 250px;
}
.adam187{
    margin: 50% 0 0 20%;
    width: 300px;
}
/* joker3 joker3 joker3 joker3 hahahahhaahahahahaha */

#joker4{
    height: 100vh;
}
.joker4{
    color: #6bc1a3;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    margin: 45% 0 0 20%;
}
.kindjoker4{
    font-size: 280px;
}
.adam3{
    margin: 50% 0 0 2%;
    width: 300px;
}
/* joker4 joker4 joker4 joker4 hahahahahhahahahahha */
#joker5{
    height: 97vh;
    /* border: 2px solid rgb(247, 121, 3);  */
}
.joker5{
    color: #7eb8e1 ;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin: 70% 0 0 20%;
}
/* joker5 joker5 joker5 joker5 joker5 hahahahahahahahhahaha */

#joker6{
    height: 100vh;
    /* border: 5px solid rgb(243, 247, 3); */
    background-image: url(/img/bider2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.joker6{
    height: 100vh;
    width: 100%;
   
}
/*joker6 joker6 joker6 joker6 joker6 hahahhahahhahahaha */
#joker7{
    height: 100vh;
    border: 5px solid rgb(0, 0, 0);
   background-color: black;
   
    
   
}
.joker7{
    color: white;
    font-size: 80px;
    margin: 15% 0 0 15%;
    font-family: 'Roboto', sans-serif;
}
.adam{
    color: white;
    border: 2px solid white; 
    font-size: 40px;
    margin: 15% 0 0 15%;
   

   
    padding: 0 5px ;
    text-decoration: none;
}
/* joker7 joker7 joker7 joker7 hahahahahahahahahahhaah */
#joker8{
    height: 10vh;
    border: 2px solid rgb(0, 0, 0); 
     background-color: black;
}
.joker8{
    color: white;
    margin: 80px 0 0 43%;
    font-family: 'Roboto', sans-serif;
   
}
.adam12{
    color: gold;
}
.adam0{
    font-family: 'Roboto', sans-serif; 
}
